<!DOCTYPE html>
<html>
  <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Item List</p>
    <form class="" action="/newitem" method="post" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="item name">
      <input type="text" name="description" placeholder="description">
      <input type="file" name="image" value="test">
      <button type="submit" name="button">Submit</button>
    </form>

    <% items.forEach(function(item){%>
      <p><%=item.name %></p>
      <p><%=item.description%> </p>
      <img src="<%=item.image %>" alt="">
    <% });%>

  </body>
</html>
