
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"
<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Group 2" content="">

    <title>Rentools | <%= title %> </title>

    <!-- Bootstrap Core CSS -->
        <!-- Latest compiled and minified CSS -->

   <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">

    <!-- Custom CSS -->
        <link href="stylesheets/style.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid"> -->
  <div id="entireNavbar">
   <!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Rentools2</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/power">Power Tools <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a href="/pneumatic">Pneumatic Tools</a>
        </li>
        <li>
            <a href="/machine">Machine Tools</a>
        </li>
        <li>
            <a href="/newrentals">New Rentools</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown" data-toggle="dropdown">Menu<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">drop 1</a></li>
              <li><a href="#">drop 2</a></li>
            </ul>
        </li>
        <ul class="nav navbar-nav navbar-right">
      <!-- </ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="views/power">Action</a>
            </li>
            <li>
              <a href="Ladders"Another action</a>
              </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>



      <ul class="nav navbar-nav navbar-right">
        <li><a href="/newitem">Dashboard</a></li>
        <li><a href="#">Logout</a></li>
      </ul>

    </div>
  </div>
</nav>
<body>
