<% include partials/navbar %>
<!DOCTYPE html>
<html>
  <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Item List</h1>


    <% if(items.length<1){%>
    <h1>Sowy, no items found :( </h1>
    <% } %>
    <% items.forEach(function(item){%>
      <h2 style="text-align:center;">Item name: <%=item.name %></h2>
      <img border="100" style="max-width:800px; border:5px solid black;" src="<%=item.image %>" alt="" ></br>
      <b>Description: </b>
      <p><%=item.description%></p>
    <% });%>
  <a href="/"><h1>Back</h1> </a>
  </body>
</html>
