#entireNavbar{
 position: fixed;
 position: absolute;
 background-color: navy  !important;
}

/*#search{
  text-align: center;
}*/

.navbar-header{
 /*background-color: #CFB055  !important;*/
 /*gold*/
}

.navbar-collapse{
 background-color: navy;
 /*gold*/
}

.dropdown-toggle{
    color: navy;
 /*background-color: #CFB055  !important;*/
 /*gold*/
}

.dropdown-toggle:hover{
    color: #CFB055  !important;
 /*background-color: #CFB055  !important;*/

}

.navbar-brand{
font-size: 36px;
/*font-family: "Times New Roman", Times, serif;*/
font-weight: 300;
color: white !important;
}

a .navbar-brand{
font-size: 36px;
/*font-family: "Times New Roman", Times, serif;*/
font-weight: 300;
color: #CFB055  !important;
}

.dropdown-menu {
    min-width: 200px;
    color: navy;
}
.dropdown-menu.columns-2 {
    min-width: 400px;
    color: navy;
}
.dropdown-menu.columns-3 {
    min-width: 600px;
    color: navy;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
    color: navy;
}
.multi-column-dropdown {
    list-style: none;
 margin: 0px;
 padding: 0px;
 color: navy;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #navy;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    /*color: #262626 ;*/
    color: navy;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}
